.navBar {
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: .5em;
    position: fixed;
    width: 100%;
    color: white;
    align-items: center;
    display: flex;
    transition: .4s ease-in-out;
    z-index: 99;
}

.navBarBottom {
    background-color: var(--main-dark-text);
    transition: .5s ease-in-out;
}

.navLogo {
    width: 2.25em;
    filter: invert(100%);
    cursor: pointer;
    transform: scale(.93);
    transition: .3s ease-in-out;
}

/* .navLogo:hover {
    transition: .3s ease-in-out;
    transform: scale(1);
    transform-origin: center;
} */

.navList {
    right: 3em;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.navItem {
    font-weight: 300;
    font-size: .9em;
    margin: 0 .5em;
    list-style: none;
    cursor: pointer;
}

.navItem a {
    color: white;
    text-decoration: none;
}

.navLink {
    color: white;
    text-decoration: none;
}

.navList > .navItem::before {
    position: absolute;
    content: '';
    height: 10%;
    width: 9%;
    bottom: -5px;
    background-color: white;
    transform: scaleX(0);
    transition: .25s ease-in-out;
}

.navList:hover .navItem:hover:before {
    transform: scaleX(1);
    transition: .25s ease-in-out;
}