:root {
    --main-dark-text: rgb(49, 49, 49);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
}

.siteContainer {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
}

@media only screen and (max-width: 1500px) {
    html {
        font-size: 20px;
    }
}