.registriesPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

.regCardDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.newRegCard {
    width: 410px;
    margin: .5em;
    margin-top: 1em;
}

.registriesTitle {
    color: var(--main-dark-text);
    font-size: 2.5em;
}

@media only screen and (max-width: 1000px) {
    .regCardDiv {
        flex-direction: column;
    }

    .newRegCard {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .newRegCard {
        width: 90%;
    }
}