.testimonialDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-dark-text);
    margin: .5em 0;
    margin-bottom: 1em;
}

.testimonialHeader {
    
}

.testimonialText {
    width: 75%;
    margin: 1em 0;
    font-size: 1.2em;
}

@media only screen and (max-width: 875px) {
    .testimonialText {
        width: 80%;
        font-size: 1em;
    }

    .testimonialSignature {
        font-size: .9em;
    }
}