.newTeamCard {
    width: 450px;
    margin: .5em;
}

.newTeamCardDesc {
    text-align: left;
}

.newTeamCardMain {
    height: 210px;
}

.newTeamCardButton {
    
}

@media only screen and (max-width: 400px) {
    .newTeamCard {
        width: 80%;
    }
}