.newTeamCard {
    width: 450px;
    margin: .5em;
}

.newTeamCardDesc {
    text-align: left;
}

.newTeamCardDescHeatherMobile {
    font-size: 1.5em !important;
    text-align: left;
}

.newTeamCardMain {
    height: 210px;
}

.newTeamCardButton {
    
}

@media only screen and (max-width: 500px) {
    .newTeamCard {
        width: 80%;
    }

    .newTeamCardDescHeatherMobile {
        font-size: 1.2em !important;
        text-align: left;
    }
}