.mobileNav {
    padding-top: 1em;
    padding-left: .3em;
    padding-bottom: .5em;
    position: fixed;
    width: 100vw;
    color: white;
    align-items: center;
    display: flex;
    transition: .4s ease-in-out;
    z-index: 99;
    justify-content: space-between;
}

.mobileNavTop {
    padding-top: 1em;
    padding-left: .3em;
    padding-bottom: .5em;
    position: fixed;
    width: 100vw;
    color: white;
    align-items: center;
    display: flex;
    transition: .4s ease-in-out;
    z-index: 99;
    justify-content: space-between;
    background-color: var(--main-light-blue);
}

.mobileNavLogo {
    margin-left: 0;
    width: 2em;
    filter: invert(95%);
    cursor: pointer;
    transform: scale(.93);
    transition: .3s ease-in-out;
}

.mobileNavLogo2 {
    margin-left: 0;
    width: 2em;
    filter: invert(0%);
    cursor: pointer;
    transform: scale(.93);
    transition: .3s ease-in-out;
}

.mobileNavMenuButton {
    margin-right: 2em;
}