.teamPage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--main-dark-text)
}

.teamPageHeader {
    padding-top: .75em;
    padding-bottom: .75em;
    text-align: center;
    color: var(--main-dark-text);
    font-size: 4em;
}

.teamPageHr {
    color: var(--main-dark-text);
    width: 5%;
    margin: 0 auto;
    height: 3px;
    border: none;
    background-color: var(--main-dark-text);
    margin-bottom: 2em;
}