.teamCardContainer {
    background-color: white;
    height: 30em;
    width: 14em;
    max-width: 14em;
    min-width: 14em;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.144);
}

.teamCardPicture {
    overflow: hidden;
    margin-top: .5em;
    border-radius: 50%;
    width: 8em;
    height: 8em;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.144);
}

.teamCardHr {
    margin: .75em 0;
    width: 40%;
}

.teamCardName {
    font-weight: 400;
}

.teamCardDesc {
    max-height: 15em;
    width: 75%;
    font-weight: 200;
    margin: .5em 0 0 0;
    text-align: left;
}

.teamCardContact {
    margin: 1em 0;
    text-align: left;
    font-size: 22px;
}

.teamCardContact i {
    padding-right: 1em;
}

.teamCardEmail a {
    color: var(--main-dark-text);
    text-decoration: none;
}

@media only screen and (max-width: 1500px) {
    .teamCardContainer {
        font-size: 1.2em;
    }
}