.RiverPage {
    width: 70%;
    margin: 1em auto;
    margin-top: 2em;
    color: var(--main-dark-text);
    font-size: 1.25em;
}

.riverListItem {
    margin: 1em 0;
}

.riverEmailLink {
    text-decoration: none;
    color: var(--main-dark-text)
}

.RiverPage p {
    text-align: center;
    font-size: 1.4em;
}

.riverLogo {
    width: 65%;
    margin: 0 1em;
}

.riverLogoDiv {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
}

@media only screen and (max-width: 1800px) {
    .riverLogo {
        width: 40%;
    }
}

@media only screen and (max-width: 1400px) {
    .riverLogo {
        width: 30%;
    }
}

@media only screen and (max-width: 800px) {
    .riverLogoDiv {
        width: 80%;
        flex-direction: column;
    }

    .riverLogo {
        width: 90%;
        margin-top: .6em;
    }

    .RiverPage p {
        text-align: left;
        font-size: 1.1em;
    }
}