.hero {
    width: 100%;
    height: 30em;
    background-image: url('../../placeholderPictures/resortPlaceholder.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 150%;
    text-align: center;
}

.heroShader {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404);
}

.title-container {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.main-title {
    font-size: 4em;
}

.main-text {
    max-width: 50%;
    font-weight: 300;
}

.heroHr {
    border: none;
    margin: .75em 0;
    height: .2em;
    background-color: white;
    width: 5em;
}